<!-- <?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="Service-Worker-Allowed" value="/" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration> -->



<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <system.web>
    <compilation debug="false" />
  </system.web>

  <system.webServer>

    <!-- Compression -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />

    <!-- Static Content -->
    <staticContent>
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>

    <!-- Caching -->
    <caching enabled="true" enableKernelCache="true">
      <profiles>
        <add extension=".js" policy="CacheForTimePeriod" duration="7.00:00:00" />
        <add extension=".css" policy="CacheForTimePeriod" duration="7.00:00:00" />
        <add extension=".png" policy="CacheForTimePeriod" duration="7.00:00:00" />
        <add extension=".jpg" policy="CacheForTimePeriod" duration="7.00:00:00" />
      </profiles>
    </caching>

    <!-- Keep your header -->
    <httpProtocol>
      <customHeaders>
        <add name="Service-Worker-Allowed" value="/" />
      </customHeaders>
    </httpProtocol>

  </system.webServer>
</configuration>